:root.theme-dark {
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --secondary-color: #ff0070;
    --page-bg-image: url('../images/cover-image-dark.png');
    --corner-color: #ff0070;
    --rec-display: block;
    --title-color: #db00ff;
    --title-shadow-color: #ff0070;
    --footer-title-color: #db00ff;
    --footer-title-shadow-color: #ff0070;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000028;
        --text-color: #f1b2ce;
        --accent-color: #ff0070;
        --secondary-color: #ff0070;
        --page-bg-image: url('../images/cover-image-dark.png');
        --corner-color: #ff0070;
        --rec-display: block;
        --title-color: #db00ff;
        --title-shadow-color: #ff0070;
        --footer-title-color: #db00ff;
        --footer-title-shadow-color: #ff0070;
    }
}