:root.theme-light {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff0070;
    --secondary-color: #fff1f7;
    --page-bg-image: url('../images/cover-image-light.png');
    --corner-color: #353430;
    --rec-display: none;
    --title-color: #ffc2e6;
    --title-shadow-color: #ff8dcb;
    --footer-title-color: #ffc2e6;
    --footer-title-shadow-color: #ff8dcb;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #fff1f7;
        --text-color: #353430;
        --accent-color: #ff0070;
        --secondary-color: #fff1f7;
        --page-bg-image: url('../images/cover-image-light.png');
        --corner-color: #353430;
        --rec-display: none;
        --title-color: #ffc2e6;
        --title-shadow-color: #ff8dcb;
        --footer-title-color: #ffc2e6;
        --footer-title-shadow-color: #ff8dcb;
    }
}