:root.theme-light {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --brand-color: #ffc2e6;
    --secondary-color: #353430;
    --secondary-color-o-40: #35343040;
    --accent-color: #FF8DCB;
    --highlight-color: #353430;
    --page-background-color: #fff1f7;
    --page-background-image: url('../images/cover-image-light.png');
    --page-bg-image: url('../images/cover-image-light.png');
    --corner-color: #353430;
    --rec-display: none;
    --rec-decor-visibility: hidden;
    --title-color: #ffc2e6;
    --title-shadow-color: #ff8dcb;
    --footer-title-color: #ffc2e6;
    --footer-title-shadow-color: #ff8dcb;
}

:root.theme-light .title-decor {
    color: var(--text-color);
}

:root.theme-light .header__theme-menu-button {
    color: var(--text-color);
}

:root.theme-light .header__theme-menu-button:hover {
    border-color: var(--text-color);
}

:root.theme-light .header__theme-menu-button_active {
    border-color: var(--text-color);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #fff1f7;
        --text-color: #353430;
        --brand-color: #ffc2e6;
        --secondary-color: #353430;
        --secondary-color-o-40: #35343040;
        --accent-color: #FF8DCB;
        --highlight-color: #353430;
        --page-background-color: #fff1f7;
        --page-background-image: url('../images/cover-image-light.png');
        --page-bg-image: url('../images/cover-image-light.png');
        --corner-color: #353430;
        --rec-display: none;
        --rec-decor-visibility: hidden;
        --title-color: #ffc2e6;
        --title-shadow-color: #ff8dcb;
        --footer-title-color: #ffc2e6;
        --footer-title-shadow-color: #ff8dcb;
    }

    .title-decor {
        color: var(--text-color);
    }

    .header__theme-menu-button {
        color: var(--text-color);
    }

    .header__theme-menu-button:hover {
        border-color: var(--text-color);
    }

    .header__theme-menu-button_active {
        border-color: var(--text-color);
    }
}