:root {
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --secondary-color: #000028;
    --font-family: 'IBM Plex Mono', monospace;
    --font-size-base: 18px;
    --line-height-base: 1.3;
    --page-bg-image: url('../images/cover-image-dark.png');
    --corner-color: #ff0070;
    --rec-display: block;
}